<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 <connectionStrings>
   	<add name="SQLConnString" connectionString="server=ESINT-LHJ\sql2005;database=MSPetShop4;integrated security=SSPI;max pool size=4;min pool size=4;" providerName="System.Data.SqlClient"/>
 </connectionStrings>
  <appSettings>
    <add key="UserDAL" value="Com.Pansky.SCFDC.SQLServerDAL"/>
  </appSettings>
</configuration>